#git+https://github.com/youesky/pyrogram
# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod
# --- For-Database ------------ #
pymongo
motor
umongo
dnspython
marshmallow
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
apscheduler
aiofiles
aiohttp
apscheduler
asyncio
beautifulsoup4
dnspython
marshmallow
motor
pymongo
pyrogram
pyromod
pytz
requests
shortzy
TgCrypto
umongo
